<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/style.css') }}"
    />
    <link
      rel="icon"
      href="./imagines/III-no-bg-preview-_carve.photos_.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="./imagines/III-no-bg-preview-_carve.photos_.ico"
      type="image/x-icon"
    />
    <title>PingTower</title>
  </head>
  <header class="DashboardHeader">
    <div class="logo2">
      <a href="/"
        ><img src="static/assets/images/ping.svg" alt="#" style="width: 250px"
      /></a>
    </div>
    <div>
      <div class="group-left-header">
        <span class="nameOfProfile">{{ session.login }}</span>

        <div style="width: 150px">
          <button
            type="submit"
            class="button-login button-dashboard"
            style="background-color: #1f2c39"
          >
            <img src="static/assets/images/user.svg" alt="user" width="50px" />
          </button>
        </div>
        <form method="POST" action="{{ url_for('logout') }}">
          <div id="exitlogo">
            <button
              type="submit"
              style="border: none; background: none; cursor: pointer"
            >
              <img
                src="static/assets/images/image 1.svg"
                alt="Выйти"
                style="width: 50px"
              />
            </button>
          </div>
        </form>
      </div>
    </div>
  </header>
  <body style="background-color: #0d1b2a">
    <section class="dashboardContainer">
      <div class="dashboardMenu">
        <div style="text-align: center"><span id="dash1">Dashboard</span></div>
        <div class="blockOfMenu">
          <div class="imageDashboardMenu">
            <img src="static/assets/images/home.png" alt="" width="30px" />
          </div>
          <div>
            <a href="/dashboard"><span class="textMenu1">Главная</span></a>
          </div>
        </div>
        <div class="blockOfMenu">
          <div class="imageDashboardMenu">
            <img src="static/assets/images/userWhite.png" alt="" width="30px" />
          </div>
          <div>
            <span class="textMenu1">Профиль</span>
          </div>
        </div>
        <div class="blockOfMenu">
          <div class="imageDashboardMenu">
            <img src="static/assets/images/internet.png" alt="" width="30px" />
          </div>
          <div>
            <a href="/checking" style="text-decoration: none"
              ><span class="textMenu1">Проверить сайт</span></a
            >
          </div>
        </div>
        <div class="blockOfMenu">
          <div class="imageDashboardMenu">
            <img src="static/assets/images/favorite.png" alt="" width="30px" />
          </div>
          <div>
            <span class="textMenu1">Избранное</span>
          </div>
        </div>
      </div>
      <section class="dashboardNaming">
        <!-- <h1 style="text-align: center; width: 100%; margin-bottom: 30px">
          Dashboard
        </h1> -->
        <h2 style="text-align: left; width: 100%">Главная</h2>
        <div class="infoTime">
          <p>
            <span style="color: gray">Последняя проверка</span>
            <span style="font-size: 20px">21:03 19.10.2026</span>
          </p>
          <p>
            <span style="color: gray">Зланировано на</span>
            <span style="font-size: 20px">23:03 19.10.2026</span>
          </p>
        </div>
        <section class="sectionBlockGraph">
          <div class="blockGraph">
            <input type="url" name="url" id="url" placeholder="Url" />
          </div>
        </section>
      </section>
    </section>
  </body>
  <footer style="background-color: #1f2c39; margin-top: 150px">
    <div class="a1partfooter">
      <img src="static/assets/images/ping.svg" alt="#" />
    </div>
    <div class="secondpartFooter">
      <div id="textDiv">
        <span id="text"
          ><span style="font-family: Mont; color: gray">©</span> PingTower
          <span style="color: #ccff33">2025</span></span
        >
      </div>
      <div>
        <a href="#" class="linkbottom">Политика конфиденциальности</a>
        <a href="#">Оферта</a>
        <a href="#">Связаться с нами</a>
      </div>
    </div>
  </footer>
</html>
