<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="icon"
      href="/static/assets/images/III-no-bg-preview-_carve.photos_.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="/static/assets/images/III-no-bg-preview-_carve.photos_.ico"
      type="image/x-icon"
    />
    <title>PingTower</title>
  </head>
  <header class="newHeader" style="justify-content: center; height: 99.31px">
    <div class="logoN">
      <a href="/"
        ><img
          src="/static/assets/images/Frame 1.svg"
          alt="#"
          style="margin-top: 100px"
      /></a>
    </div>
  </header>
  <body>
    <div class="loginContainer">
      <div class="loginForm">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <h2>Вход в систему</h2>
      
          <div class="input-group">
              <label for="username">Имя пользователя:</label>
              <i class="fas fa-user input-icon"></i>
              {{ form.login(
                  class="form-styling",
                  id="username",
                  required=True
              ) }}
              {% if form.login.errors %}
                  <div class="errors">
                      {% for error in form.login.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% endif %}
          </div>
      
          <div class="input-group">
              <label for="password">Пароль:</label>
              <i class="fas fa-lock input-icon"></i>
              {{ form.password(
                  class="form-styling", 
                  id="password",
                  required=True
              ) }}
          </div>
      
          <div class="checkbox-group">
              {{ form.remember(id="remember") }}
              <label for="remember">Запомнить меня</label>
          </div>
      
          <center><p>{{ form.submit(type="submit", class="buttonLog") }}</p></center><!-- <button type="submit" class="buttonLog">Войти</button> -->
          <div style="color: red; margin-top: 20px; font-size: 20px;">{{ message }}</div>
          <div class="divider"></div>

          <div class="links">
            <p><a href="/forgot-password">Забыли пароль?</a></p>
            <a href="/registration">Зарегистрироваться!</a>
          </div>

          <div class="divider"></div>

          <div class="social-login">
            <div class="social-btn vk">
              <i class="fab fa-vk"></i>
            </div>
            <div class="social-btn google">
              <i class="fab fa-google"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <footer>
    <div class="a1partfooter">
      <img src="static/assets/images/ping.svg" alt="#" />
    </div>
    <div class="secondpartFooter">
      <div id="textDiv">
        <span id="text"
          ><span style="font-family: Mont; color: gray">©</span> PingTower
          <span style="color: #ccff33">2025</span></span
        >
      </div>
      <div>
        <a href="#" class="linkbottom">Политика конфиденциальности</a>
        <a href="#">Оферта</a>
        <a href="#">Связаться с нами</a>
      </div>
    </div>
  </footer>
</html>
