<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/images/III-no-bg-preview-_carve.photos_.i co') }}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='assets/images/III-no-bg-preview-_carve.photos.ico') }}"
      type="image/x-icon"
    />
    <title>PingTower</title>
  </head>

  <header>
    {% set img_path = 'assets/images/' %}
    <div class="logo"><img src="/static/assets/images/Frame 1.svg" alt="#" /></div>
    <div>
      <button class="button-login" onclick="window.location.href='/authorization'">
        <i class="fas fa-sign-in-alt"></i>
        <span class="button-text">Вход</span>
      </button>
    </div>
  </header>
  <body>
    <section class="importantThings">
      <div class="helloWord">
        <img
          src="/static/assets/images/Ваши_сервисы_под_контролем_Всегда_с_PingTower.svg"
          alt="Ваши_сервисы_под_контролем_Всегда_с_PingTower"
        />
      </div>
      <section>
        <div class="Block">
          <div class="informBox">
            <img src="/static/assets/images/11781193.svg" alt="Server" class="informImg" />
            <div class="opisanie">
              <a href="#" class="nonLink">Сервисы</a>
              <span class="aboutText">
                Глубокий анализ HTTP/S, времени отклика, SSL-сертификатов и даже
                функциональности API. Гибкие проверки от секунд до часов в
                зависимости от критичности сервиса.
              </span>
            </div>
          </div>
          <div class="informBox">
            
            <img src="/static/assets/images/6472295.svg" alt="SSL" class="informImg" />
            <div class="opisanie">
              <a href="#" class="nonLink">SSL</a>
              <span class="aboutText">
                Система осуществляет непрерывный мониторинг SSL-сертификатов
                ваших сервисов, проверяя их валидность и сроки действия, чтобы
                предотвратить сбои, связанные с проблемами безопасности.
              </span>
            </div>
          </div>
          <div class="informBox">
            <img src="/static/assets/images/2145933.svg" alt="Server" class="informImg" />
            <div class="opisanie">
              <a href="#" class="nonLink">INP</a>
              <span class="aboutText">
                Система отслеживает задержку между взаимодействием от
                пользователя и откликом от сайта, что критически важно при
                взаимодействии с сайтом.
              </span>
            </div>
          </div>
          <div class="informBox">
            
            <img src="/static/assets/images/10225073.svg" alt="Server" class="informImg" />
            <div class="opisanie">
              <a href="#" class="nonLink">CLS</a>
              <span class="aboutText">
                Наш сайт отслеживает визуальную стабильность интерфейса,
                измеряя, насколько элементы страницы «сдвигаются» во время
                загрузки или взаимодействия. Это позволяет оценить, насколько
                предсказуем и комфортен пользовательский опыт.
              </span>
            </div>
          </div>
          <div class="informBox">
            <img src="/static/assets/images/9160827.svg" alt="Server" class="informImg" />
            <div class="opisanie">
              <a href="#" class="nonLink">TBT</a>
              <span class="aboutText">
                Наш сервис способен отслеживать общее время, когда страница
                сайта не отвечает на действие пользователя, что критично важно
                для понимания работы вашего портала.
              </span>
            </div>
          </div>
          <div class="informBox">
            <img src="/static/assets/images/5394955.svg" alt="Server" class="informImg" />
            <div class="opisanie">
              <a href="#" class="nonLink">SI</a>
              <span class="aboutText">
                Отчетность по среднему времени визуальной загрузки страницы,
                учитывает визуальное восприятие — то есть не просто когда
                страница «загрузилась», а когда она стала полезной для глаза.
              </span>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section>
      <div class="try4freeDiv">
        <button class="try4free">Попробовать бесплатно</button>
      </div>
    </section>
  </body>
  <footer>
    <div class="a1partfooter">
      <img src="/static/assets/images/ping.svg" alt="#" />
    </div>
    <div class="secondpartFooter">
      <div id="textDiv">
        <span id="text"
          ><span style="font-family: Mont; color: gray">©</span> PingTower
          <span style="color: #ccff33">2025</span></span
        >
      </div>
      <div>
        <a href="#" class="linkbottom">Политика конфиденциальности</a>
        <a href="#">Оферта</a>
        <a href="#">Связаться с нами</a>
      </div>
    </div>
  </footer>
</html>
